{% extends "base.html" %}
{% load static %}

{% block title %}Focul Matematic | Acasă{% endblock %}

{% block content %}
  <div class="hero">
    <div class="herotext">
      <h1>Pregătire Completă pentru <strong>Bacalaureat</strong> și <strong>Evaluarea Națională</strong></h1>
      <p>
        Cursuri online interactive, materiale didactice actualizate și teste personalizate pentru succesul tău
        la examenele de Matematică!
      </p>
      <button class="buton"><a href="#">Încearcă Gratuit</a></button>
    </div>

    <img class="piramida" src="{% static 'core/img/5-cell-ezgif.com-instagif.gif' %}" alt="Image">
  </div>
{% endblock %}
